@import '../../component';

.#{class-name(ModalSection)}.#{class-name(Section)} {
  background: white;
  padding: 0.5rem;

  > header {
    position: relative;
    background-color: bitn-color(mine);
    color: white;
    min-height: rem-calc(60);

    h2 {
      margin: 0 1.5rem;
      line-height: rem-calc(60);
      font-size: 110%;
    }
  }
}

.#{ref-name(ModalSection, close)} {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: rem-calc(60);
}