@import '../../component';

// I made most of the styling dynamic instead(ie from react),
// this has some legacy stuff and can be optimized a lot/remade

$minimize-transition: $bitn-navigation-transition;

$font-size: $bitn-site-navigation-font-size;
$icon-size: 40%;

$logo-transition: 50ms linear 100ms;
$logo-size: 65%;
$logo-image: '/images/logo.svg';

$background-color: bitn-color(charade);
$highlight-color: bitn-color(baltic);
$text-color: bitn-color(waterloo);

// hover
$hover-background-color: bitn-color(shark);
$hover-text-color: white;

// minimized
$minimized-logo-size: 60%;
$minimized-logo-image: '/images/logo-sm.svg';

.#{class-name(SiteNavigation)} {
  @include display(flex);
  @include flex-direction(column);
  position: fixed;
  padding: 0;
  height: 100%;
  background-color: $background-color;
  @include transition(
    width $minimize-transition,
    left $minimize-transition);
  @include clearfix;
}

.#{ref-name(SiteNavigation, logo)} {
  background: $highlight-color url($logo-image) no-repeat center;
  background-size: $logo-size;
  width: 100%;
  padding-bottom: 100%;
}

// menus
.#{class-name(SiteNavigation)} {
  .#{class-name(Menu)} {
    > ul {
      @include transition(padding $minimize-transition);

      > .#{class-name(MenuItem)} {
        @include transition(margin $minimize-transition, min-height $minimize-transition);

        > a {
          font-size: $font-size;
          font-weight: 300;
          color: $text-color;
          text-transform: capitalize;
          @include transition(
            padding $minimize-transition,
            height $minimize-transition);

          > span {
            float: left;
            margin: 0 0.5rem;
          }

          > i {
            float: right;
            background-size: $icon-size;
            line-height: inherit;
          }
        }
        
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // top menu
  > .#{class-name(Menu)} {
    @include flex(1);
    position: absolute;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    @include transition(
      top $minimize-transition,
      width $minimize-transition);

    > ul > .#{class-name(MenuItem)} {
      > a {
        > i {
          background-color: $highlight-color;
        }

        &:hover {
          background-color: $hover-background-color;
          color: $hover-text-color;

          > i {
            background-color: $highlight-color;
          }
        }

        &:focus {
          background-color: $highlight-color;
        }
      }
    }

    // child menus
    .#{class-name(Menu)} {
      overflow-y: hidden;
      background-color: $hover-background-color;
      display: block;

      @include transition(
        margin $minimize-transition,
        opacity $minimize-transition);

      > ul > .#{class-name(MenuItem)} {
        > a {

          &:hover, &:focus {
            background-color: $highlight-color;
          }
        }
      }
    }

    .#{state-name(MenuItem, deselected)} > div > .#{class-name(Menu)} {
      display: block;
      margin: 0 !important;
      opacity: 0;

      > ul {
        padding: 0 !important;

        > .#{class-name(MenuItem)} {
          margin: 0 !important;
          min-height: 0 !important;

          > a {
            position: absolute;
            width: 100%;
          }
        }
      }
    }
  }
}

.#{state-name(SiteNavigation, minimized)} {
  .#{ref-name(SiteNavigation, logo)} {
    background-image: url($minimized-logo-image);
    background-size: $minimized-logo-size;
  }

  // top menu
  > .#{class-name(Menu)} > ul {
    max-width: none;
    @include transition(max-width 0ms linear 150ms);

    > .#{class-name(MenuItem)} {
      > a {
        padding: 0;

        &, &:hover, &:focus {
          background-color: transparent;
        }
      }

      // hide selected child menus
      &.#{state-name(MenuItem, selected)} > div > .#{class-name(Menu)} {
        margin: 0 !important;
        opacity: 0;

        > ul {
          padding: 0 !important;

          > .#{class-name(MenuItem)} {
            margin: 0 !important;
            min-height: 0 !important;

            > a {
              position: absolute;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
