@import '../component';

.bitn-menu {
  > ul > li {
    > a {
      margin: 0;
      padding: 0;

      &:hover, &:focus {
        background-color: transparent;
      }

      @include clearfix;
    }

    // hide sub trees
    > .bitn-menu {
      display: none;
    }

    &.selected {
      // show sub trees
      > .bitn-menu {
        display: block;
      }
    }
  }
}