@import '../../component';

$url: '/images/cover-img.jpg';
$color: #f2f2f2;
$shadow-height: 20%;

$about-heading-color: white;
// must be absolute
$about-heading-font-size: rem-calc(44);
$about-heading-line-height: rem-calc(50);

// this should approximate the distance from the about headings
// line start to character baseline
$text-baseline:
  ($about-heading-line-height + ($about-heading-font-size * 0.8)) / 2;

$text-font-size: 105%;
$text-letter-spacing: 0.03rem;

.#{class-name(PageCover)} {
  position: relative;
  overflow: hidden;

  > div {
    @include display(flex);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2.5rem 3.5rem;
    background: url($url) no-repeat center;
    background-size: cover;
    color: $color;

    &.#{state-name(PageCover, appear)}-enter {
      @include transition(transform 200ms ease-out);
      @include transform(scale(1.06));
    }

    &.#{state-name(PageCover, appear)}-enter-active {
      @include transform(none);
    }

    &:after {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      height: $shadow-height;
      @include linear-gradient(transparent, rgba(black, 0.8));
      content: ' ';
    }
  }
}

.#{ref-name(PageCover, welcome)} {
  @include flex(1);
  @include align-self(flex-end);

  position: relative;
  z-index: 1;
}

.#{ref-name(PageCover, date)} {
  display: inline-block;
  background: rgba(#1181AF, 0.8);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.#{ref-name(PageCover, about)} {
  position: relative;
  text-shadow: 0 0 5px black;

  > h2 {
    display: inline-block;
    margin: 0;
    line-height: $about-heading-line-height;
    font-size: $about-heading-font-size;
    color: $about-heading-color;
  }
}

.#{ref-name(PageCover, text)} {
  float: right;
  font-size: $text-font-size;
  letter-spacing: $text-letter-spacing;

  > span {
    vertical-align: bottom;
  }

  &:before {
    display: inline-block;
    vertical-align: top;
    height: $text-baseline;
    content: ' ';
  }
}