@import '../../component';

.#{class-name(NotaryUploadSettings)} {
  @include display(flex);

  > div {
    @include flex(1);
    background: #F3F3F3;
    padding: 1rem;
    margin: 0.25rem;
  }

  legend {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
    color: #666;
  }

  label {
    margin: 0 0.25rem;
  }

  .#{class-name(Radio)} {
    margin-left: 0.25rem;
  }
}