@import '../../component';

.#{class-name(PageRow)} {
  @include display(flex);
  width: 100%;
  padding: 1.5rem 3rem;
  border-bottom: 1px solid #eee;

  > .#{state-name(Section, flex)} {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.#{class-name(PageRow)}:first-child {}

.#{class-name(PageRow)}:last-child {
  border-bottom: 0;    
}

.#{class-name(PageRow)}:nth-child(2) {
  background-color: #F3F3F3;
}

.#{class-name(PageRow)}:nth-child(3) {
  background-color: #FFF;
}