@import '../../component';

.#{class-name(Menu)} {
  > ul > li {
    > a {
      margin: 0;
      padding: 0;

      &:hover, &:focus {
        background-color: transparent;
      }

      @include clearfix;
    }

    // hide sub trees
    > .#{class-name(Menu)} {
      display: none;
    }

    &.selected {
      // show sub trees
      > .#{class-name(Menu)} {
        display: block;
      }
    }
  }
}