@import '../../component';

.#{class-name(Menu)} {
  > ul {
    > .#{class-name(MenuItem)} {
      > a {
        margin: 0;
        padding: 0;

        &:hover, &:focus {
          background-color: transparent;
        }

        @include clearfix;
      }
    }

    > .#{state-name(MenuItem, selected)} {
      // show sub trees
      > div > .#{class-name(Menu)} {
        display: block;
      }
    }

    > .#{state-name(MenuItem, deselected)} {
      // hide sub trees
      > div > .#{class-name(Menu)} {
        display: none;
      }
    }

    > .#{state-name(MenuItem, children)} {
      
    }

    > .#{state-name(MenuItem, linkHover)} {
      
    }
  }
}

