@import '../../component';

.#{class-name(NotaryUpload)} {
  > .fields {
    @include display(flex);

    > div {
      @include flex(1);
      background: #ccc;
      padding: 1rem;
      margin: 0.5rem;
    }
  }

  > .#{class-name(FileUpload)} {
    background: blue;
    padding: 1rem;

    &.active {
      background: green;
    }
  }
}