@import '../../component';

$minimize-transition: $bitn-navigation-transition;

$left: $bitn-navigation-panel-size;
$minimized-left: $bitn-site-navigation-width;

$panel-height: $bitn-navigation-panel-size;
$base-padding: 1rem;

$background-color: bitn-color(curious);
$shortcut-color: bitn-color(mercury);
$shortcut-hover-color: bitn-color(dove);

$translucent-background-color: rgba(black, 0.65);
$translucent-shortcut-color: bitn-color(gray);
$translucent-shortcut-hover-color: bitn-color(mercury);

.#{class-name(UserNavigation)} {
  position: fixed;
  z-index: 9;
  left: $left;
  right: 0;
  height: $panel-height;
  color: white;
  @include transition(left $minimize-transition);

  .#{class-name(UserNavigationShortcuts)}.#{class-name(Menu)} {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 ($base-padding * 0.5);

    a {
      padding: 0 $base-padding;
      color: $shortcut-color;

      &:hover {
        color: $shortcut-hover-color;
      }
    }
  }

  .#{class-name(UserSettingsDropdown)} {
    position: relative;
    z-index: 1;
    float: right;
    height: 100%;
    margin: 0 $base-padding;
  }
}

.#{ref-name(UserNavigation, opaqueLayer)},
.#{ref-name(UserNavigation, translucentLayer)} {
  position: absolute;
  width: 100%;
  height: 100%;
  @include transition(opacity 250ms linear);
}

.#{ref-name(UserNavigation, opaqueLayer)} {
  background-color: $background-color;
  opacity: 1;
}

.#{ref-name(UserNavigation, translucentLayer)} {
  background-color: $translucent-background-color;
  opacity: 0;
}

.#{state-name(UserNavigation, minimized)} {
  left: $minimized-left;
}

.#{state-name(UserNavigation, translucent)} {
  .#{class-name(UserNavigationShortcuts)}.#{class-name(Menu)} a {
    color: $translucent-shortcut-color;

    &:hover {
      color: $translucent-shortcut-hover-color;
    }
  }
}