@import '../../component';

$bar-height: $bitn-navigation-panel-size;
$base-padding: 1rem;

$background-color: bitn-color(curious);
$shortcut-color: bitn-color(mercury);
$shortcut-hover-color: bitn-color(dove);

$cover-height: $bitn-user-cover-height;
$cover-background-color: rgba(0, 0, 0, 0.8);
$cover-shortcut-color: bitn-color(dove);
$cover-shortcut-hover-color: bitn-color(mercury);

.#{class-name(UserNavigation)} {
  @include display(flex);
  position: relative;
  min-height: $bar-height;

  > nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $bar-height;
    background-color: $background-color;
    color: white;

    .#{class-name(UserShortcuts)} {
      padding: 0 ($base-padding * 0.5);

      a {
        padding: 0 $base-padding;
        line-height: $bar-height;
        color: $shortcut-color;

        &:hover {
          color: $shortcut-hover-color;
        }
      }
    }

    .#{class-name(UserSettingsDropdown)} {
      float: right;
      margin: 0 $base-padding;
    }

    .#{ref-name(UserSettingsDropdown, toggle)} {
      height: $bar-height;
      line-height: $bar-height * 0.95;
    }
  }
}

.#{state-name(UserNavigation, cover)} {
  height: $cover-height;

  > nav {
    background-color: $cover-background-color;

    .#{class-name(UserShortcuts)} a {
      color: $cover-shortcut-color;

      &:hover {
        color: $cover-shortcut-hover-color;
      }
    }
  }

  > .#{class-name(UserCover)} {
    @include flex(1);
  }
}