@import '../../component';

$minimize-transition: $bitn-navigation-transition;

$base-padding: 1rem;

$background-color: bitn-color(curious);
$shortcut-color: bitn-color(mercury);
$shortcut-hover-color: bitn-color(dove);

$fade-background-color: rgba(black, 0.6);
$fade-shortcut-color: bitn-color(mercury);
$fade-shortcut-hover-color: bitn-color(dove);

.#{class-name(UserNavigation)} {
  position: fixed;
  z-index: 9;
  right: 0;
  color: white;
  @include transition(left $minimize-transition);

  .#{class-name(UserNavigationShortcuts)}.#{class-name(Menu)} {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 ($base-padding * 0.5);

    a {
      padding: 0 $base-padding;
      color: $shortcut-color;

      &:hover {
        color: $shortcut-hover-color;
      }
    }
  }

  .#{class-name(UserSettingsDropdown)} {
    position: relative;
    z-index: 1;
    float: right;
    height: 100%;
    margin: 0 $base-padding;
  }
}

.#{ref-name(UserNavigation, opaqueLayer)},
.#{ref-name(UserNavigation, fadeLayer)} {
  position: absolute;
  width: 100%;
  height: 100%;
  @include transition(opacity 250ms linear);
}

.#{ref-name(UserNavigation, opaqueLayer)} {
  background-color: $background-color;
  opacity: 1;
}

.#{ref-name(UserNavigation, fadeLayer)} {
  background-color: $fade-background-color;
  opacity: 0;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15%;
    @include linear-gradient(transparent, rgba(black, 0.25));
    content: ' ';
  }
}

.#{state-name(UserNavigation, minimized)} {

}

.#{state-name(UserNavigation, fade)} {
  .#{class-name(UserNavigationShortcuts)}.#{class-name(Menu)} a {
    color: $fade-shortcut-color;

    &:hover {
      color: $fade-shortcut-hover-color;
    }
  }
}