@import '../../component';

.#{class-name(UserNavigationShortcuts)}.#{class-name(Menu)} {
  display: inline-block;
  width: auto;

  > ul {
    @include display(flex);
    height: 100%;

    > .#{class-name(MenuItem)} {
      @include display(flex);
      @include align-items(center);
    }
  }
}