@import '../../component';

.#{class-name(MailPage)} {
    .#{class-name(Table)} {
        table-layout: fixed;
        width: 100%;

        th:nth-child(1) {
            width: 15%;
        }

        th:nth-child(2) {
            width: 25%;
        }
    }

    .#{class-name(Modal)} {
        background-color: white;
        width: 75%;
    }

    input[type="text"],
    input[type="password"] {
        margin-bottom: 1rem;
        margin-left: 0.312rem;
    }
}

 .floatRight {
      float:right;
      }    