@import '../../component';

.#{class-name(UserCover)} {
  @include display(flex);
  padding: 3rem;
  background: url(/images/cover-img.jpg) no-repeat center;
  background-size: cover;
  color: white;

  > div {
    @include flex(1);
    @include align-self(flex-end);

    > .date {
      background: blue;
      margin: 2rem 0;
      padding: 0.5rem;
    }

    > .about {
      margin-top: 1rem;
      text-shadow: -1px 1px 6px rgba(0, 0, 0, 0.6);

      > h2 {
        display: inline-block;
        margin: 0.25rem 0;
      }

      > .text {
        &:before {
          content: ' - ';
        }
      }
    }
  }
}