@import '../../component';

.#{class-name(Search)} {
  display: inline-block;
  position: relative;
  height: rem-calc(40);
  min-width: rem-calc(240);
  background: #fff;
  border: 1px solid #ccc;

  > div,
  > button {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  > div {
    left: 0;
    right: rem-calc(40);
    border-right: 1px solid #ccc;
  }

  .#{class-name(Input)} {
    width: 100%;
    height: 100%;
    line-height: rem-calc(40) * 0.9;
    padding: 0 1rem;
  }

  > button {
    right: 0;
    width: rem-calc(40);
    height: 100%;
    background: transparent;
    border: 0;
  }
}