@import '../../component';

.#{class-name(Modal)} {
  @include display(flex);
  @include align-items(center);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.#{state-name(Modal, closed)} {
  width: 0;
  transition-property: width;
  transition-delay: 250ms;
}

.#{class-name(Modal)} > .#{class-name(ModalSection)} {
  @include flex(1);
  z-index: 1;
  margin: -10% auto 0 auto;
  max-width: rem-calc(600);
  //max-height: rem-calc(400);
  overflow-y: auto;
  box-shadow: 0 1rem 10rem rgba(black, 0.5);

  &.#{state-name(Modal, display)}-enter,
  &.#{state-name(Modal, display)}-appear {
    opacity: 0;
    @include transform(scale(1.3));

    @include transition(
      opacity 150ms ease-in,
      transform 150ms ease-in);
  }

  &.#{state-name(Modal, display)}-enter-active,
  &.#{state-name(Modal, display)}-appear-active {
    opacity: 1;
    @include transform(scale(1));
  }

  &.#{state-name(Modal, display)}-leave {
    margin-top: -10%;
    opacity: 1;
    @include transform(scale(1));

    @include transition(
      margin-top 100ms ease-in,
      opacity 100ms ease-in,
      transform 100ms ease-in);
  }

  &.#{state-name(Modal, display)}-leave-active {
    margin-top: 0;
    opacity: 0;
    @include transform(scale(0.95));
  }
}

.#{ref-name(Modal, background)} {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.25);

  &.#{state-name(Modal, display)}-enter,
  &.#{state-name(Modal, display)}-appear {
    opacity: 0;
    @include transition(opacity 250ms ease-in);
  }

  &.#{state-name(Modal, display)}-enter-active,
  &.#{state-name(Modal, display)}-appear-active {
    opacity: 1;
  }

  &.#{state-name(Modal, display)}-leave {
    opacity: 1;
    @include transition(opacity 200ms ease-in);
  }

  &.#{state-name(Modal, display)}-leave-active {
    opacity: 0;
  }
}