@import '../../component';

.#{class-name(Modal)} {
  display: none;
  @include align-items(center);
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  > .#{class-name(Section)} {
    @include flex(1);
    position: relative;
    z-index: 1;
    margin: -10% auto 0 auto;
    max-width: rem-calc(600);
    max-height: rem-calc(400);
    overflow-y: auto;
    background: white;
    padding: 1rem;
    box-shadow: 0 1rem 10rem rgba(black, 0.5);
  }
}

.#{ref-name(Modal, background)} {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.25);
}

.#{state-name(Modal, open)} {
  @include display(flex);
}