@import '../../component';

.#{class-name(UserAvatar)} {
  display: inline-block;
  height: 24px;

  > img {
    height: 100%;
  }

  &.medium {  
    height: 36px;
  }

  &.large {  
    height: 48px;
  }
}