@import '../../component';

.bitn-user-avatar {
  display: inline-block;
  height: 24px;

  > img {
    height: 100%;
  }
}

.bitn-user-avatar.medium {  
  height: 36px;
}

.bitn-user-avatar.large {  
  height: 48px;
}