@function hyphenate($text) {
  $result: to-lower-case(str-slice($text, 1, 1));
  $length: str-length($text);
  $index: 2;

  @while $index <= $length {
    $char: str-slice($text, $index, $index);
    $lower: to-lower-case($char);
    @if $char != $lower {
      $result: #{$result}-;
    }
    $result: #{$result}#{$lower};
    $index: $index + 1;
  }
  @return $result;
}

@function class-name($text) {
  @return #{'bitn-'}#{hyphenate($text)}
}