@import 'rem';

$bitn-colors: (
  mine: #3d3d3d,
  dove: #666666,
  mercury: #e5e5e5,
  gray: #939393,
  silver: #c5c5c5,
  baltic: #1b1d25,
  shark: #22242d,
  space: #2d3841,
  charade: #2c2f3b,
  waterloo: #7b8095,
  river: #444f57,
  orange: #f39c12,
  green: #92bd2f,
  curious: #29aae1,
);

@function bitn-color($key) {
  @return map-get($bitn-colors, $key)
}

// use like
// bitn-color(space)
// -> #2d3841
