@import 'rem';

$bitn-navigation-panel-size: rem-calc(64);

$bitn-site-navigation-width: rem-calc(220);
$bitn-site-navigation-item-height: rem-calc(40);
$bitn-site-navigation-font-size: 95%;

$bitn-user-cover-height: rem-calc(300);