@import 'bourbon';
@import 'variables';

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#app-container {
  @include display(flex);
  min-height: 100%;
}