@import 'bourbon';
@import 'styles/xbnxIcon';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2 {
  font-weight: 300;

  b, strong {
    font-weight: 500;
  }
}

h3 {
  font-weight: 400;

  b, strong {
    font-weight: 600;
  }
}

h1 {
  margin: 1.5rem 0;
  font-size: 225%;
}

h2 {
  margin: 1.25rem 0;
  font-size: 175%;
}

h3 {
  margin: 0.75rem 0;
  font-size: 150%;
}

h4 {
  font-size: 125%;
  margin: 0.5rem 0;
}

#app-container {
  @include display(flex);
  min-height: 100%;
}