@import 'styles/rem';

$sideBarWidth: 225px;

$white       : #FFFFFF;
// $ghost       : #FAFAFA;
// $snow        : #F9F9F9;
// $vapor       : #F6F6F6;
// $white-smoke : #F5F5F5;
// $silver      : #EFEFEF;
// $smoke       : #EEEEEE;
// $gainsboro   : #DDDDDD;
// $iron        : #CCCCCC;
// $base        : #AAAAAA;
// $aluminum    : #999999;
// $jumbo       : #888888;
// $monsoon     : #777777;
// $steel       : #666666;
// $charcoal    : #555555;
// $tuatara     : #444444;
$mgrey       : #3d3d3d;
$mgrey2      : #666666;
$lgrey       : #e5e5e5;
$lgrey2      : #939393;
$lgrey3      : #c5c5c5;
$dnavy1      : #1B1D25;
$dnavy2      : #22242d;
$dnavy3      : #2d3841;
$mnavy1      : #2C2F3B;
$mnavy2      : #1B1D25;
$lnavy1      : #7b8095;
$lnavy2      : #444f57;
$lblue1      : #7A8095;
$lblue2      : #6796f7;
$oil         : #333333;
//$turquoise   : #00a89c;
$turquoise   : #6fa8d0;
$orange      : #f39c12;
$offWhite    : #F5F5F5;
$green       : #92bd2f;
// $jet         : #222222;
// $black       : #000000;

$sidebarDark       : $dnavy1;
$sidebarMid        : $mnavy1;
$sidebarText       : $lblue1;
$sidebarHoverText  : $white;
$sidebarItemHeight : 2.5rem;
$sidebarFontSize   : 105%;

$sidebarIconHoverColor : $dnavy1;

$logoBoxHeight: rem-calc(225);
$headerBarHeight: rem-calc(60);
$profileBarHeight: rem-calc(275);

$userImageWidth: 125;

$messagePanelBorderColor : $lgrey3;
$messagePanelBorder      : 1px solid $messagePanelBorderColor;
$messagePanelTextColor   : $lgrey2;

$newsItemTopLeftColor        : $lblue2;
$newsItemBottomLeftColor     : $orange;
$newsItemRightColor          : $lgrey2;
$newsPadding                 : 1rem;
$newsItemMarkerDarkenPercent : 0.08;
