@import '../../component';

.#{class-name(UserSettingsDropdown)} {
  display: inline-block;

  > .toggle {
    height: 100%;
    padding: 0 1rem;

    > * {
      vertical-align: middle;
    }

    > span {
      margin-right: 1rem;
    }
  }

  .#{class-name(Menu)} {
    display: none;
    width: 100%;
    background: #333;
    text-align: left;

    > ul > li > a {
      color: #ccc;
      padding: 0.5rem 1rem;
    }
  }
  
  &.active {
    .#{class-name(Menu)} {
      display: block;
    }
  }
}