@import '../../component';

.#{class-name(Section)} {
  > header {
    padding: 0.25rem;
  }

  > div {
    padding: 0.5rem;
  }

  > footer {
    padding: 0.25em;
  }
}

.#{state-name(Section, header)} {
  
}

.#{state-name(Section, body)} {
  
}

.#{state-name(Section, footer)} {
  
}

.#{state-name(Section, flex)} {
  margin: 0.25rem;
}

@for $i from 0 to 10 {
  &.#{state-name(Section, flex)}-#{$i} {
    @include flex($i);
  }
}