@import '../../component';

.#{class-name(Section)} {
  > header {
    margin-bottom: 0.25rem;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }

  > footer {
    margin-top: 0.25rem;
  }
}

.#{state-name(Section, header)} {
  
}

.#{state-name(Section, body)} {
  
}

.#{state-name(Section, footer)} {
  
}

.#{state-name(Section, flex)} {

}

@for $i from 0 to 10 {
  &.#{state-name(Section, flex)}-#{$i} {
    @include flex($i);
  }
}