@import '../../component';

.bitn-app {
  @include display(flex);
  @include flex-grow(1);

  > .bitn-site-navigation {
    @include flex-shrink(0);
  }

  > div {
    @include flex-grow(1);

    @include display(flex);
    @include flex-direction(column);

    > .bitn-user-navigation {
      @include flex-shrink(0);
    }

    > main {
      @include flex-grow(1);
      padding: 2rem;
      background: #eee;
      color: #666;
    }
  }
}