@import '../../component';

.#{class-name(App)} {
  @include display(flex);
  @include flex-grow(1);

  > .#{class-name(SiteNavigation)} {
    @include flex-shrink(0);
  }

  > div {
    @include flex-grow(1);

    @include display(flex);
    @include flex-direction(column);

    > .#{class-name(UserNavigation)} {
      @include flex-shrink(0);
    }

    > main {
      @include flex-grow(1);
      padding: 2rem;
      background: #eee;
      color: #666;
    }
  }
}