@import '../component';

.bitn-site-navigation {
  flex-shrink: 0;
  background-color: $sidebarMid;
  padding: 0;
  width: $sideBarWidth;
  @include transition(width 150ms ease-in-out);

  > .logo {
    background: $sidebarDark url('/images/logo.svg') no-repeat center center;
    background-size: 70%;
    height: $logoBoxHeight;

    @include transition(all 150ms ease-in-out);
  }

  // menus
  .bitn-menu {
    padding: 1.5rem 0;

    > ul > li {
      margin: 0.75rem 0;

      > a {
        padding: 0 1rem;
        font-size: 90%;
        font-weight: 300;
        color: $sidebarText;
        line-height: $sidebarItemHeight;
        font-size: $sidebarFontSize;
        text-transform: capitalize;

        > .text {
          float: left;
          margin: 0 1rem;
        }

        > i {
          @extend .xbnx-icon;
          float: right;
          background-size: 40%;
          height: $sidebarItemHeight;
          width: $sidebarItemHeight;
          line-height: $sidebarItemHeight;
        }

        &:hover > i {
          @extend .xbnx-icon-highlight;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  // top menu
  > .bitn-menu {
    > ul > li {
      > a {
        > i {
          background-color: $dnavy2;
        }

        &:hover {
          background-color: $dnavy2;
          color: $sidebarHoverText;

          > i {
            background-color: $sidebarIconHoverColor;
          }
        }

        &:focus {
          background-color: $dnavy1;
        }
      }
    }

    &.minimized {
      padding: 0.655rem;

      > ul > li {
        > a {
          padding: 0;

          &, a:hover, a:focus {
            background-color: transparent;
          }
        }
      }
    }
  }

  // child menus
  > .bitn-menu .bitn-menu {
    margin: 0.5rem 0;
    background-color: $dnavy1;
  }

  &.minimized {
    width: $headerBarHeight;

    > .logo {
      background-image: url(/images/logo-sm.svg);
      background-size: 40%;
      height: $headerBarHeight;
    }
  }
}