@import '../../component';

.#{class-name(NotaryFileInput)} {
  padding: 1rem;
  text-align: center;

  > header {
    > .fields {
      @include display(flex);

      > div {
        @include flex(1);
        background: #F3F3F3;
        padding: 1rem;
        margin: 0.5rem;
      }
    }
  }

  &.drag-over {
    background: green;
  }
}