@import '../component';

.bitn-user-settings-dropdown {
  display: inline-block;

  > .toggle {
    height: 100%;

    > * {
      vertical-align: middle;
    }

    > span {
      margin: 0.25rem 0.5rem;
    }
  }

  .bitn-menu {
    display: none;
    background: #666;

    > ul > li > a {
      color: #fff;
    }
  }
}

.bitn-user-settings-dropdown.active {
  .bitn-menu {
    display: block;
  }
}