@import '../../component';

.#{class-name(Button)} {
  max-width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #333;
  color: #eee;

  &:hover, &:focus {
    background-image: none;
    background-color: #67ABF7;
    color: #fff;
  }

  &:active {
    box-shadow: none;
    border-color: rgba(0,0,0,0.4);
  }
}

.#{state-name(Button, file)} {
  background-color: #AED67A;
  color: white;

  &:hover, &:focus {
    background-color: darken(#AED67A, 20%);
  }
}

.#{state-name(Button, small)} {
  padding: 0.25rem 0.5rem;
  font-size: 90%;
}

.#{state-name(Button, large)} {
  padding: 0.75rem 3rem;
  font-size: 120%;
}

.#{state-name(Button, auto)} {
  width: 100%;
  height: 100%;
}

.#{state-name(Button, autoWidth)} {
  width: 100%;
}

.#{state-name(Button, autoHeight)} {
  height: 100%;
}