@import '../../component';

.#{class-name(Button)} {
  padding: 0.5rem 1rem;
  max-width: 100%;
}

.#{state-name(Button, auto)} {
  width: 100%;
  height: 100%;
}

.#{state-name(Button, small)} {
  padding: 0.25rem 0.5rem;
  font-size: 90%;
}

.#{state-name(Button, large)} {
  padding: 0.75rem 1.5rem;
  font-size: 120%;
}

.#{state-name(Button, file)} {
  background-color: #AED67A;
  color: white;
}